body{
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

